@import './default.less';
@import "~antd/lib/style/mixins/clearfix.less";

#header {
  background: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */;
  position: relative;
  margin-bottom: 5px;
  min-height: 50px;
  #headerSub{
    margin: auto;
    max-width: 1280px;
  }
  #headerLittle{
    padding-top: 10px;
    text-align: match-parent;
  }
}
#logo {
  padding-left: 40px;
  float: right;
  line-height: 64px;
  text-decoration: none;
  height: 64px;
  img {
    display: inline;
    vertical-align: middle;
    margin-right: 16px;
    width: 32px;
  }
  span {
    color: @primary-color;
    outline: none;
    font-size: 14px;
    line-height: 28px;
  }
}
#avatar{
  text-align: right;
  box-sizing: box;
  padding-right: 15px;
}

#menu {
  height: 64px;
  .ant-menu {
    line-height: 60px;
    background-color: rgba(255, 202, 171, 0);
  }
}
