@import './default.less';

html,
body {
  height: 100%;
}

body {
  font-family: @font-family;
  line-height: 1.5;
  color: @site-text-color;
  font-size: 14px;
  background: #fff;
  transition: background 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  overflow-x: hidden;
}

a {
  transition: color .3s ease;
  &:focus {
    text-decoration: underline;
    text-decoration-skip: ink;
  }
}

.home-wrapper {
  width: 100%;
  color: #697b8c;
  .ant-btn {
    min-width: 110px;
    height: 40px;
    border-radius: 20px;
    font-size: 16px;
    &:hover {
      transform: translateY(-4px);
      box-shadow: 0 4px 12px rgba(24, 144, 255, .4);
    }
  }
  .title-wrapper > h1, > h1 {
    font-size: 32px;
    color: @text-color;
    margin-bottom: 16px;
  }
  .title-wrapper {
    margin: 0 auto 64px;
    text-align: center;
  }
}

svg g {
  transform-origin: 50% 50%;
  transform-box: fill-box;
}

.banner-wrapper {
  height: 526px;
  width: 100%;
  margin: auto;
  position: relative;
  background: url("https://gw.alipayobjects.com/zos/rmsportal/xTPkCNNLOnTEbGgVZOpE.jpg") no-repeat center / cover;
  .banner-title-wrapper {
    width: 40%;
    max-width: 480px;
    height: 245px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 8%;
    margin: auto;
    z-index: 1;
    > * {
      will-change: transform;
    }
    h1 {
      font-family: "Futura", "Helvetica Neue For Number", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 54px;
      margin: 12px 0;
      color: rgba(195, 192, 64, 0.52);
    }
    p {
      font-size: 20px;
    }
    .button-wrapper {
      margin-top: 64px;
      line-height: 40px;
      align-items: center;
      display: flex;
      .github-btn {
        display: inline-block;
        height: 28px;
        .gh-btn {
          height: 28px;
          border-radius: 4px;
          background: rgba(243, 243, 243, 1);
          background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(243, 243, 243, 1) 100%);
          border: 1px solid #ebedf0;
          align-items: center;
          display: flex;
          padding: 0 12px;
          font-size: 13px;
          &:hover {
            color: @primary-color;
          }
          .gh-ico {
            margin-right: 8px;
          }
        }
        .gh-count {
          height: 28px;
          line-height: 22px;
          background: #fff;
          border: 1px solid #ebedf0;
          border-radius: 4px;
          padding: 2px 8px;
          font-size: 13px;
        }
      }
    }
    .title-line {
      transform: translateX(-64px);
      animation: bannerTitleLine 3s ease-in-out 0s infinite;
    }
  }
  .banner-image-wrapper {
    width: 45%;
    max-width: 598px;
    height: 324px;
    position: absolute;
    right: 8%;
    margin: auto;
    top: 0;
    bottom: 0;
    opacity: 0;
  }
}

.home-banner-image {
  display: none;
}

.title-line-wrapper {
  height: 2px;
  width: 100%;
  overflow: hidden;
  .title-line {
    height: 100%;
    width: 64px;
    transform: translateX(-64px);
    background: linear-gradient(to right, rgba(24, 144, 255, 0) 0%, rgba(24, 144, 255, 1) 100%);
  }
}

.home-page {
  margin: 50px auto;
  h2 {
    text-align: center;
    font-weight: 300;
    font-size: 28px;
    color: #314659;
    letter-spacing: 0.6px;
    span {
      font-weight: 600;
    }
  }
}

.home-page-wrapper {
  max-width: 1280px;
  width: 100%;
  margin: auto;
  position: relative;
}

/** page1 **/
.page1 {
  height: 960px;
}
.page1-line.title-line-wrapper {
  width: 312px;
  margin: 24px auto 76px;
  .title-line {
    animation: page1TitleLine 3s ease-in-out 1.5s infinite;
  }
}

.page1-bg {
  font-size: 320px;
  color: #ebedf0;
  position: absolute;
  width: 100%;
  text-align: center;
  opacity: .25;
  top: 0;
  transform: translateY(960px);
}

.page1-box-wrapper {
  margin-bottom: 62px;
  display: flex;
  align-items: flex-start;
  li {
    width: 33.33%;
    display: inline-block;
    will-change: transform;
    .page1-box {
      width: 194px;
      margin: auto;
      text-align: center;
      position: relative;
      .page1-image {
        width: 80px;
        height: 80px;
        border-radius: 40px;
        margin: 20px auto 32px;
        position: relative;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #fff;
        transition: box-shadow .3s ease-out, transform .3s ease-out;
      }
      &:hover .page1-image {
        transform: translateY(-5px);
      }
      h3 {
        color: #0d1a26;
        font-size: 16px;
        margin: 8px auto;
      }
    }
  }
}
.page1-point-wrapper {
  position: absolute;
  width: 0;
  left: 50%;
  top: 0;
  .point-0 {
    width: 4px;
    height: 4px;
  }
  .point-2, .point-ring {
    width: 10px;
    height: 10px;
  }
  .point-ring {
    border-style: solid;
    border-width: 1px;
    background: transparent !important;
  }
  .point-1 {
    width: 6px;
    height: 6px;
  }
  .point-3 {
    width: 15px;
    height: 15px;
  }
  i {
    display: inline-block;
    border-radius: 100%;
    position: absolute;
    opacity: 0;
    transform: translate(0, 30px);
  }
}
/** page2 **/
.page2 {
  text-align: center;
  height: 588px;

  .page2-content {
    will-change: transform;
  }
}

.page2-line {
  margin: 148px auto 24px;
  width: 114px;

  .title-line {
    animation: page2TitleLine 3s ease-in-out 0s infinite;
  }
}

.page-content {
  width: 760px;
  margin: 24px auto 32px;
  line-height: 28px;
}

.home-code {
  width: 90%;
  max-width: 840px;
  border-radius: 4px;
  background: #f2f4f5;
  line-height: 28px;
  margin: 16px auto;
  color: #151e26;
  font-size: 16px;
  font-family: @code-family;
  text-align: left;
  padding: 20px 50px;
  span {
    color: #f5222d;
  }
}

.home-code-comment {
  color: @site-text-color-secondary !important;
}

@keyframes bannerTitleLine {
  0%, 25% {
    transform: translateX(-64px);
  }
  75%, 100% {
    transform: translateX(544px);
  }
}

@keyframes page1TitleLine {
  0%, 25% {
    transform: translateX(-64px);
  }
  75%, 100% {
    transform: translateX(376px);
  }
}

@keyframes page2TitleLine {
  0%, 25% {
    transform: translateX(-64px);
  }
  75%, 100% {
    transform: translateX(178px);
  }
}
