@import '~antd/lib/style/themes/default.less';
@import '~antd/dist/antd.less';
@site-heading-color: #0d1a26;
@site-text-color: #314659;
@site-text-color-secondary: #697b8c;
@site-border-color-split: #ebedf0;
@border-color: rgba(229, 231, 235, 100);
@menu-dark-bg: linear-gradient(to right, #4cb8c4, #3cd3ad);
