/*.avatar-uploader > .ant-upload {*/
/*    width: 250px;*/
/*    height: 250px;*/
/*}*/

/*.ant-upload-picture-card-wrapper {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*}*/
.ant-upload.ant-upload-select-picture-card{
    width: 100%;
    height: 100%;
}

.box-imgupload {
    /*display: inline-block;*/
    position: relative;
    width: 100%;
    /*margin: 5% 5% 0 0;*/
    font-size: 12px;
    /*background: #333;*/
}

.box-imgupload:before {
    content: "";
    display: block;
    padding-top: 100%;
    /* initial ratio of 1:1*/
}
.content-box-imgupload {
    /* Positioning */
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    /* Styling */
    line-height:100%;
    height:100%;
    text-align: center;
    display: flex;
    /*align-items: center;*/
    justify-content: center;
    color: #fff;
    align-content: stretch;
    flex-wrap: wrap;
}
